.container {
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  top: 5%;
  bottom: 10%;
  left: 5%;
  width: 90%;
  z-index: 100;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

@media (min-width: 40rem) {
  .container {
    padding-top: 0rem;
    left: 30%;
    width: 40%;
  }
}

.btnContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.closeWishlistBtn {
  color: #767676;
  opacity: 0.75;
  font-size: 1.8em;
  padding: 1rem;
  background-color: transparent;
  border: none;
}

.closeWishlistBtn:hover {
  color: #000;
}
