.add-btn {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0.02rem solid #000;
  width: 8rem;
  height: 3rem;
  font-size: 1rem;
}

.form-add-btn {
  width: 100%;
  cursor: pointer;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #1a1a1a;
  color: #fff;
  border: none;
}

.form-add-btn:hover {
  opacity: 0.8;
}

.added {
  background-color: #3d9349;
  border-color: #3d9349;
  color: #fff;
}

.loading {
  width: 1.5rem;
  margin: auto;
  display: block;
}
